.c-save {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.c-title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}

.c-card-header {
    background-color: #eff0ea;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: gray;
}

.c-main {
    background-color: #fefefe;
    padding: 15px;
    box-shadow: gray;
    border-radius: 5px;
}

.c-subtitle {
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 5px;
    color: black;
}